<ul>
    <li>
        <a href="http://patatap.com" target="_blank" style="border-bottom: 0;"><strong>Patatap</strong></a>
    </li>
    <li>
        <a href="mailto:inquiries@patatap.com">Inquiries</a>
    </li>
    <li>
        <a id="embed-button" href="#">Embed</a>
    </li>
    <li>
        <a id="merchandise-button" href="#">Merchandise</a>
    </li>
    <li>
        <a id="jonobr1" href="http://jonobr1.com/" target="_blank">jonobr1</a> + <a id="lullatone" href="http://lullatone.com/" target="_blank">lullatone</a>
    </li>
    <li>
        <div id="loops" >
            <svg version="1.1" id="lp_recpause" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="16 16 32 32" enable-background="new 8 8 32 32" xml:space="preserve"><circle fill="#cccccc" cx="32" cy="32" r="10"></circle></svg>
            <svg version="1.1" style="display:none" id="lp_stop" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="16 16 32 32" enable-background="new 8 8 16 16" xml:space="preserve"><rect x="20.75" y="20.125" width="20.5" height="20.5" fill="#cccccc"></rect></svg>
            <!--<svg version="1.1" style="display:none" id="new_seq_button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="16 16 32 32" enable-background="new 8 8 16 16" xml:space="preserve"><rect x="20.75" y="20.125" width="40.5" height="20.5" fill="#00ff00" /></svg>-->
            <!--<svg version="1.1" id="play_seq_button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="8 8 16 16" enable-background="new 8 8 16 16" xml:space="preserve"> <polygon  points="10 0,10 20,20 10" fill = "blue" stroke = "black" stroke-width = "1"/></svg>-->
            <img src="images/icons/cabinet.png" style="display:none" id="new_seq_button">
            <img src="images/icons/play2.png" id="play_seq_button">
        </div>
    </li>
    <li><div id="bpmSettings" /></li>
    <label for="bpm">bpm: </label><input type="text" id="bpmInput" name="bpmInput" value="120"/>
    <li><div id="sequencerText-menu">
        <span id="metro_trigger">&#9833</span><span id="signature"></span>/4 drum pattern, tempo <span id="tempo"></span> BPM
        </div>
    </li>
    <!--<li><div id="sequencerbox" >-->
        <!--<table id="pattern"><tr data-track="graphics"></tr></table>-->
        <!--</div>-->
    <!--</li>-->
</ul>