<div id="outerSeqToolBar">
    <div id="seqToolBar">
        <div id="stopImg" align="left" class="float-left" style="width:20%;"><img src="images/icons/stop.png" id="stop_seq_button"></div>
        <div id="sequencerbox" align="center" class="float-left" style="width:60%;">
            <table id="pattern"><tr data-track="graphics"></tr></table>
        </div>
        <div id="closeImg" style="text-align: right; width:20%;" align="center" class="float-left"><img src="images/icons/close.png" id="closeSeqPanel" align="right"/></div>
        <input id="bpmSlide" type="range" min="0" max="200" step="1" value="120" onchange="updateSlider(this.value)" /><span id="bpmChosen">120</div>
</div>
</div>