<div id="outerSeqToolBar">
    <div id="seqToolBar">
        <span id="stopImg"><img src="images/icons/stop.png" id="stop_seq_button"></span>
        <span id="closeImg" style="text-align: right"><img src="images/icons/close.png" id="closeSeqPanel" align="right"/></span>
    </div>
</div>